<html>
  <head></head>
  <body>
    <p> Mastermind! </p>
    <br><br>
    <form action='/game' method='POST'>
      <input type="hidden" name="newgame" value="true" />
      <input type="submit" value="New Game" />
    </form>
  </body>
</html>
