<div id="game-content">  
  <p> Mastermind! </p>
  <br><br>
  <form action='/game' method='POST'>
    <input type="hidden" name="newgame" value="true" />
    <input type="submit" value="New Game" />
  </form>
</div>
